# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint
import time


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_draft = pd.read_csv("weather_df.csv")
weather = weather_draft.drop(columns=['Unnamed: 0'])
weather

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,avarua,100,CK,1594001152,83,-21.21,-159.78,69.80,8.05
1,vardo,94,NO,1594001152,94,70.37,31.11,48.43,8.23
2,esperance,90,AU,1594001152,47,-33.87,121.90,59.00,19.46
3,kapaa,1,US,1594001152,70,22.08,-159.32,84.20,8.05
4,hilo,90,US,1594001152,61,19.73,-155.09,82.40,9.17
...,...,...,...,...,...,...,...,...,...
550,lompoc,0,US,1594001222,60,34.64,-120.46,68.00,12.75
551,kargasok,100,RU,1594001222,80,59.06,80.86,65.66,4.56
552,san policarpo,100,ML,1594001205,62,13.30,-4.90,83.34,3.89
553,mindelheim,8,DE,1594001223,82,48.05,10.48,64.99,10.29
554,barcelos,0,PT,1594001223,88,41.54,-8.62,73.99,1.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

locations = weather[["Lat", "Lng"]]
locations

humidity = weather["Humidity"]
humidity

fig = gmaps.figure(center=(43.6, -79.4), zoom_level=5)
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=np.max(humidity),
                                   point_radius=3)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
max_temp = (weather["Max Temp"] < 80) & (weather["Max Temp"] > 70)
wind_speed = weather["Wind Speed"] < 10
cloudiness = weather["Cloudiness"] == 0

condition = weather[max_temp & wind_speed & cloudiness]
condition

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
15,rikitea,0,PF,1594001153,81,-23.12,-134.97,72.63,8.48
61,qarqin,0,AF,1594001159,20,37.42,66.04,77.11,6.98
151,puerto ayora,0,ES,1594001170,73,36.59,-6.23,77.00,4.70
170,clyde river,0,US,1594001172,63,41.30,-82.98,79.00,1.99
201,zeya,0,RU,1594001175,33,53.75,127.27,74.66,6.44
218,iwanai,0,JP,1594001177,55,42.97,140.51,77.65,3.94
251,tygda,0,RU,1594001182,32,53.12,126.33,74.46,4.92
385,pontes e lacerda,0,BR,1594001198,74,-4.83,-43.37,78.80,2.24
398,puerto escondido,0,ES,1594001170,73,36.59,-6.23,77.00,4.70
400,hyeres,0,FR,1594001202,88,43.12,6.12,71.01,3.36
401,chiesanuova,0,SM,1594001202,59,43.90,12.42,71.01,4.70
413,anzio,0,IT,1594001204,87,41.49,12.62,73.00,1.01
419,paratinga,0,BR,1594001205,55,-12.69,-43.18,73.00,6.82
436,uyutne,0,UA,1594001208,65,45.20,33.30,76.51,5.59
458,khani,0,GE,1594001211,94,41.96,42.96,71.60,2.24
489,zhetysay,0,KZ,1594001215,47,40.73,68.30,70.77,5.10
510,shieli,0,KZ,1594001217,41,44.17,66.75,74.12,6.93
511,kalaleh,0,IR,1594001217,73,37.38,55.49,71.60,2.24
533,puerto santander,0,ES,1594001220,73,36.59,-6.23,77.00,4.70
546,tokmak,0,UA,1594001222,56,47.25,35.71,74.03,5.14
554,barcelos,0,PT,1594001223,88,41.54,-8.62,73.99,1.12

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
hotel_df = pd.DataFrame(condition, columns = ["City", "Country", "Lat", "Lng"])
hotel_df
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country    Lat     Lng Hotel Name
15            rikitea      PF -23.12 -134.97
61             qarqin      AF  37.42   66.04
151      puerto ayora      ES  36.59   -6.23
170       clyde river      US  41.30  -82.98
201              zeya      RU  53.75  127.27
218            iwanai      JP  42.97  140.51
251             tygda      RU  53.12  126.33
385  pontes e lacerda      BR  -4.83  -43.37
398  puerto escondido      ES  36.59   -6.23
400            hyeres      FR  43.12    6.12
401       chiesanuova      SM  43.90   12.42
413             anzio      IT  41.49   12.62
419         paratinga      BR -12.69  -43.18
436            uyutne      UA  45.20   33.30
458             khani      GE  41.96   42.96
489          zhetysay      KZ  40.73   68.30
510            shieli      KZ  44.17   66.75
511           kalaleh      IR  37.38   55.49
533  puerto santander      ES  36.59   -6.23
546            tokmak      UA  47.25   35.71
554          barcelos      PT  41.54   -8.62

In [28]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [29]:
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add element to params
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
              
    time.sleep(1)

# Print End
print("-------End of Search-------")

Retrieving Results for Index 15: rikitea.
Closest hotel in rikitea is Pension Maro'i.
------------
Retrieving Results for Index 61: qarqin.
Missing field/result... skipping.
------------
Retrieving Results for Index 151: puerto ayora.
Closest hotel in puerto ayora is Hotel Bodega Real.
------------
Retrieving Results for Index 170: clyde river.
Closest hotel in clyde river is Red Roof Inn Clyde.
------------
Retrieving Results for Index 201: zeya.
Closest hotel in zeya is Hotel Gold.
------------
Retrieving Results for Index 218: iwanai.
Closest hotel in iwanai is いわない高原ホテル.
------------
Retrieving Results for Index 251: tygda.
Missing field/result... skipping.
------------
Retrieving Results for Index 385: pontes e lacerda.
Closest hotel in pontes e lacerda is Hotel Alecrim.
------------
Retrieving Results for Index 398: puerto escondido.
Closest hotel in puerto escondido is Hotel Bodega Real.
------------
Retrieving Results for Index 400: hyeres.
Closest hotel in hyeres is Hotel La Potinière Hyères.
------------
Retrieving Results for Index 401: chiesanuova.
Closest hotel in chiesanuova is Grand Hotel San Marino.
------------
Retrieving Results for Index 413: anzio.
Closest hotel in anzio is Astura Palace Hotel.
------------
Retrieving Results for Index 419: paratinga.
Closest hotel in paratinga is Hotel Recanto Do Sol.
------------
Retrieving Results for Index 436: uyutne.
Closest hotel in uyutne is Imperia.
------------
Retrieving Results for Index 458: khani.
Closest hotel in khani is Nino village.
------------
Retrieving Results for Index 489: zhetysay.
Missing field/result... skipping.
------------
Retrieving Results for Index 510: shieli.
Closest hotel in shieli is Hotel Элита.
------------
Retrieving Results for Index 511: kalaleh.
Missing field/result... skipping.
------------
Retrieving Results for Index 533: puerto santander.
Closest hotel in puerto santander is Hotel Bodega Real.
------------
Retrieving Results for Index 546: tokmak.
Closest hotel in tokmak is Дом приезжих.
------------
Retrieving Results for Index 554: barcelos.
Closest hotel in barcelos is Hotel Bagoeira.
------------
-------End of Search-------

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

hotel_df

#hotel = hotel_df.dropna()
#hotel

                 City Country    Lat     Lng                 Hotel Name
15            rikitea      PF -23.12 -134.97             Pension Maro'i
61             qarqin      AF  37.42   66.04
151      puerto ayora      ES  36.59   -6.23          Hotel Bodega Real
170       clyde river      US  41.30  -82.98         Red Roof Inn Clyde
201              zeya      RU  53.75  127.27                 Hotel Gold
218            iwanai      JP  42.97  140.51                  いわない高原ホテル
251             tygda      RU  53.12  126.33
385  pontes e lacerda      BR  -4.83  -43.37              Hotel Alecrim
398  puerto escondido      ES  36.59   -6.23          Hotel Bodega Real
400            hyeres      FR  43.12    6.12  Hotel La Potinière Hyères
401       chiesanuova      SM  43.90   12.42     Grand Hotel San Marino
413             anzio      IT  41.49   12.62        Astura Palace Hotel
419         paratinga      BR -12.69  -43.18       Hotel Recanto Do Sol
436            uyutne      UA  45.20   33.30                    Imperia
458             khani      GE  41.96   42.96               Nino village
489          zhetysay      KZ  40.73   68.30
510            shieli      KZ  44.17   66.75                Hotel Элита
511           kalaleh      IR  37.38   55.49
533  puerto santander      ES  36.59   -6.23          Hotel Bodega Real
546            tokmak      UA  47.25   35.71               Дом приезжих
554          barcelos      PT  41.54   -8.62             Hotel Bagoeira

In [36]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display Map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))